accelerate>=1.8.1
codetiming
datasets>=1.6.2
flash-attn>=2.4.3
liger-kernel=>0.7.0
mathruler
numpy>=2.2.0
omegaconf
pandas>=2.2.0
peft>=0.15.0
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray[default]>=2.48.0
tensordict>=0.7.0
torchdata>=0.9.0
transformers>=4.54.0,<=4.57.0
vllm>=0.8.0
wandb
